* {
  font-family: 'Roboto', sans-serif;
}

.header-container {
  background-color: #1F2937;
  /* border: 3px solid lightcoral; */
  padding: 2%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-top{
  display: flex;
  align-self: center;
  width: 57%;
  padding: 1%;
  /* border: 6px solid lightgreen; */
  font-size: 24px;
  color: #F9FAF8;
}

.header-top div {
  /* border: 2px solid brown; */
  font-size: 18px;
  color: #E5E7EB;
}

.header-top .two {
  flex: 2 1 0%;
  text-align: right;
}

.header-middle {
  /* border: 2px solid white; */
  width: 70%;
  align-self: center;
  color: #F9FAF8;
  display: flex;
  flex: 1 1 0%;
  padding: 2%;
  justify-content: space-around;
}

.h2 {
  font-weight: bold;
}

.header-middle p {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 25px;
  border-radius: 8px;
  font-weight:bolder;
  border: none;
}

.middle1-container {
  display: flex;
  background-color: white;
  /* border: 3px solid lightcoral; */
  padding: 2%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#random {
  font-size: 36px;
  color: #1F2937;
  text-align: center;
}

.middle-sub {
  /* border: 2px solid lightsalmon; */
  width: 150px;
  margin: 2%;
}

.middle-sub p{
  color: #1F2937;
  font-size: 12px;
  text-align: center;
}

.middle2-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #E5E7EB;
  /* border: 3px solid lightcoral; */
  width: 100%;
  padding: 5% 0% 5%;
  color: #1F2937;
  text-align: center;
  font-size: 28px;
  font-weight: light;
  font-style: italic;
}

.quote {
  width: 45%;
  /* border: 3px solid lightcoral; */
}